<header>
    <div class="header">
        <a href="/"><h1>Decode Blog</h1></a>
        
        <form class="header-search">
            <input type="search" name="search" placeholder="Поиска по блогам">
            <button>
                <img src="/images/icons/search.png" alt="">
                <p>Найти</p>
            </button>

        </form>
        <div class="button">
            <%
                if(user && user._id){
            %>
                <div class="header-profile">
                    <a href="/profile/<%=user._id%>"><img src="/images/avatar.png" alt=""></a>
                 </div>
            <%
                }else{
            %>
                <a href="/sign"><button class="btn">Регистрация</button></a>
                <a href="/login"><button class="btn">Войти</button></a>
            <%
                }
            %>
            
           
 
        </div>

    </div>
</header>